{% extends 'base.html' %}

{% block title %} TecnoJob {% endblock %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Encuentra empleo:</legend>
        <input type="text" name="keyword" placeholder="buscar...">
        <select name="location">
            <option value="Lerida">Lleida</option>
            <option value="Gerona">Girona</option>
            <option value="Tarragona">Tarragona</option>
            <option value="Barcelona">Barcelona</option>
        </select>
        <input type="submit" value="BUSCAR">
    </fieldset>

    <hr>

    {% if offer_list_view %}
<!--            {{ offer_list_view }}-->
            {% for offer in offer_list_view %}
<!--                {% if forloop.first %}-->
<!--                    <div class="row">-->
<!--                {% endif %}-->
                <div class="col-12">
                    <div class="card">
                        <img src="{{ offer.imagen.url }}" height="180" class="card-img-top" alt="{{ offer.titulo }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ offer.nombre_ofrt }}</h5>
                            <hr>
                            <h6 class="card-subtitle">Empresa: {{ offer.company }}</h6>
                            <p class="card-text">Descripcion: {{ offer.description }}</p>
                        </div>
<!--                        <div class="card-footer">-->
<!--                            {% if user == offer.autor %}-->
<!--                                <a href="{% url 'eliminar_offer' offer.id %}" class="btn btn-danger">Eliminar post</a>-->
<!--                            {% endif %}-->
<!--                        </div>-->
                    </div>
                </div>
                <br>
<!--                {% if forloop.counter|divisibleby:3 %}-->
<!--                    </div><div class="row"></div>-->
<!--                {% endif %}-->
<!--                {% if forloop.last %}-->
<!--                    </div>-->
<!--                {% endif %}-->
            {% endfor %}
<!--            {% include "paginacion.html" %}-->
        {% else %}
            <div class="alert alert-danger">No hay nada aquí</div>
        {% endif %}
</form>
{% endblock %}