{% extends 'base.html' %}

{% block title %} TecnoJob | Crear Empresa {% endblock %}

{% block js %}
    <script>
        function eliminarEmpresa(id) {
            Swal.fire({
                "title": "¿Estás seguro?",
                "text": "Esta acción no se puede deshacer",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, cancelar",
                "confirmButtonText": "Sí, eliminar",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
            })
                .then(function (result) {
                    if (result.isConfirmed) {
                        window.location.href = "eliminar/" + id
                    }
                })
        }
    </script>
{% endblock %}

    {% block content %}
        <style>
        {#{{ empresas.0.c_name }}#}
        </style>
        <br>
        <button class="btn btn-primary mb-4" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Nuevo Candidato
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <h4>CREAR CANDIDATO</h4>
                <form action="{% block form %}{% endblock %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% block name %}{% endblock %}
                    <input type="hidden" name="id">
                    <input type="text" name="candidate_name" value="{% block name01 %} Nombre {% endblock %}"><br>
                    <input type="submit" value="{% block button %} GUARDAR {% endblock %}">
                </form>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <table style="width:100%">
            <tr>
                <th>Candidate</th>
                <th></th>
                <th></th>
            </tr>
            {% for candidate in candidate %}
                <tr>
                    <td>{{ empresa.c_name }}</td>
                    <td>
                        <button><a href="#" onclick="eliminarEmpresa({{ candidate.candidate_id }})">ELIMINAR</a></button>
                    </td>
                    <td>
                        <button><a
                                href="{% block direccion %} {% url 'modificar_empresa' empresa.company_id %} {% endblock %}">ACTUALIZAR</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br><br>
 {% endblock %}