{% extends 'province_create.html' %}

{% block form %} {% url 'actualizar_provincia' id_empresa %} {% endblock %}

{% block name01 %} {{ provincias.0.1 }} {% endblock %}
{% block name02 %} {{ provincias.0.2 }} {% endblock %}
{% block name03 %} {{ provincias.0.3 }} {% endblock %}
{% block name04 %} {{ provincias.0.4 }} {% endblock %}
{% block name05 %} {{ provincias.0.5 }} {% endblock %}

{% block button %} ACTUALIZAR {% endblock %}
{% block direccion %} {% url 'mostrar_provincia' %} {% endblock %}