{% extends 'base.html' %}

{% block title %} TecnoJob | Crear Empresa {% endblock %}

{% block js %}
    <script>
        function eliminarEmpresa(id) {
            Swal.fire({
                "title": "¿Estás seguro?",
                "text": "Esta acción no se puede deshacer",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, cancelar",
                "confirmButtonText": "Sí, eliminar",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
            })
                .then(function (result) {
                    if (result.isConfirmed) {
                        window.location.href = "eliminar/" + id
                    }
                })
        }
    </script>
{% endblock %}

    {% block content %}
        <style>
            a:link, a:visited, a:active {
                color: black;
                text-decoration: none;
            }

            input {
                margin-bottom: 5px;
            }

            table {
                width: 100%;
            }

            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th, td {
                padding: 15px;
                text-align: left;
            }

            tr:nth-child(even) {
                background-color: #eee;
            }

            tr:nth-child(odd) {
                background-color: #fff;
            }

            th {
                background-color: black;
                color: white;
            }
        </style>
        {#{{ empresas.0.c_name }}#}
        <br>
        <button class="btn btn-primary mb-4" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Nueva Provincia
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <h4>CREAR PROVINCIA</h4>
                <form action="{% block form %}{% endblock %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% block name %}{% endblock %}
                    <input type="hidden" name="id">
                    <input type="text" name="prov_name" value="{% block name01 %} Nombre {% endblock %}"><br>
                    <input type="submit" value="{% block button %} GUARDAR {% endblock %}">
                </form>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <table style="width:100%">
            <tr>
                <th>Provincia</th>
                <th></th>
                <th></th>
            </tr>
            {% for provincia in provincias %}
                <tr>
                    <td>{{ provincia.p_name }}</td>
                    <td>
                        <button><a href="#" onclick="eliminarEmpresa({{ provincia.prov_id }})">ELIMINAR</a></button>
                    </td>
                    <td>
                        <button><a
                                href="{% block direccion %} {% url 'modificar_provincia' provincia.prov_id %} {% endblock %}">ACTUALIZAR</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br><br>
    {% endblock %}